In [3]:
#conditional statements - if, elif, else
#simple if
#INDENTATION IS ALWAYS FOUR SPACES IN PYTHON

x=5
if x==5:
    print(True)
if x>30:
    print("yes")

True

In [5]:
x=1
if x>5:
    print("yes")
else:
    print("no")

no

In [ ]:
#Multiple if's
a=10
if a>2:
    print("1")
if a>3:
    print("1")

In [6]:
#elif=else+if

y=300
if y==30:
    print("2")
elif y>30:
    print("eleif")
else:
    print("none")

eleif

In [ ]:
#LOOPING STATEMENTS: FOR , WHILE(USED FOR ITERATIONS)
#FOR lOOP
#SYNTAX
# FOR NAME_OF_VARIABLE IN RANGE(START,STOP):
    #OPERATION
#RANGE FUNCTION:(START,STOP,STEP) THIS IS ONLY FOR NUMBERS not the float

In [10]:
x=list(range(1,10))#AS PER SLICING IT WILL NOT INCLUDE 10
print(x)
for x in range(1,20):
    print(x,end=" ")# to print in the same line

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [12]:
lst=[22,33,44,55,66,77]
for x in lst:
    if x==66:
        print("yes")

yes

In [14]:
lst=[22,33,44,55,66,77]
for x in lst:
    print(x,end=" ")

22 33 44 55 66 77

In [15]:
name="sindhu"
for x in name:
    print(x,end=" ")

s i n d h u

In [16]:
#WHILE LOOP :
#SYNATAX WHILE(CONDITION IS TRUE):
        #OPERATION
#WHILE LOOP CRASHES THE COMPILOR AS UNTIL THE CONTIION IS TRUE IT WILL BE RUNNING

In [18]:
a=10
while a>3:
    print("yes")
    break

yes

In [21]:
i=0
while i<5:
    print(i,end=" ")
    i+=1

0 1 2 3 4

In [22]:
#FUNCTIONS
#INPUT - TAKE THE INPUT FROM THE USER

In [25]:
a=input("enter your name ")

enter your name sindhu

In [ ]:
#functions --block of code

#Inbuilt : pre defined in python we just call and use example: range
#user defined : we can design our own designs
#Lambda

In [26]:
#inbuild
a=[1,2,3]
a.append(33)

In [27]:
#user defined

#def Name_of_the_function(arg1,arg2): we can pass arguments
    #operation
    #return ---return the statement output

In [30]:
def sindhu():
    return print("hey this is sindhu")

In [32]:
print(sindhu())

hey this is sindhu
None

In [35]:
def add_numbers(x,y):
    z=x+y
    return z

z=add_numbers(10,20)
print(z)

30

In [37]:
#Lambda function deals with normal mathematics expression

#syntax lambda arguments:expression
#lambda functions are anonymous functions
y=lambda x:x*10
y(70)

700

In [38]:
c=lambda q,w,r: (q*w)+r
c(5,3,6)

21